body {
  height: 3000px;
}

.fix {
  width: 100px;

  /* 브라우저 기준 */
  position: fixed;
  right: 10px;
  bottom: 50px;
}

.sti {
  /* 밑으로 내리면 고정값으로  */
  background-color: palevioletred;
  position: sticky;
  top: 0;

  /* 투명도 */
  opacity: 0.7;

  z-index: 99;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

.container > div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box1 {
  background-color: aqua;  
  top: 10px;
  left: 10px;
  z-index: 5;
}

.box2 {
  background-color: rgb(172, 207, 15);
  top: 20px;
  left: 20px;

  /* 앞, 뒤 순서 */
  z-index: 0;
}

.box3 {
  background-color: rgb(207, 53, 125);
  top: 30px;
  left: 30px;
}


