/* 전체 선택자 */
* {
  color: red;
}
/* 태그 선택자 */
h1 {
  background-color: aqua;
  }
  /* 아이디 선택자 */
  /* 아이디 같은 경우 보유값(나만 가짐)이라서 여러개를 같이 쓰면 오류가 발생,
  묶어서 같이 사용하고 싶다면 클래스를 이용, id랑 clsdd 한번에 사용 가능*/
  #title{
    text-align: center;
  }
  /* 클래스 선택자 */
  /* .은 클래스를 의미   ,하고 여러개 적용 가능 */
  .color,h3 {
    font-size: 50px;
    color: rgb(252, 33, 117);
  }
