* {
  margin: 0;
  padding: 0;
}

/* 인라인으로 작업 하게되면 배치 시 간격이 생김,
이걸 이런식으로 활용 */
ul {
  /* font-size: 0; */
}

li {
  /* font-size: 16px;
  width: 100px; */
  height: 200px;
  border: 1px solid red;
  display: inline-block;
}

.visi {
  /* 숨김 처리는 해주지만 해당 영역은 남아있음 */
  /* visibility: hidden; */
  display: none;
}