[href] {
  color: red;
}

h1[class] {
  background: palegreen;
}

[class="green"]  {
  background: paleturquoise;
}

/* ~= 공백으로 구분해서 해당 단어가 있는 속성 */
/* [title~="태그"] {
  color: blueviolet;
} */

/* |= 속성명이 정확하게 해당 단어, 단어 뒤 - 나오는거
 [title|="태그"] {
   color: red;
 } */

 /* 해당 단어로 시작하는 */
 /* [title^="태그"] {
  color: red
 } */

 /* 해당 단어로 끝나는
 [title$="태그"] {
  color: red;
 } */
  
 /* 해당 단어를 포함하는 */
 [title*="태그"] {
  font-style: italic;
 }