* {
  /* ? , 선, 선 색상 */
  /* 보통 전체 초기화할 때 마진 0, 패딩0, 박스사이즈 보더로 지정해놓고 작업 함 */
  /* 사진참고 */
  border: 1px solid red;
  
  /* 안쪽 여백 */
  padding: 5px; 

  /* 밖 여백 */
  margin: 10px;

}

h1 {
  /* 이렇게 해야 합치면 350px */
  width: 318px;
  height: 300px;
}